<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="cleartype" content="on" />
    <meta name="apple-mobile-web-app-capable" content="no">
    <link rel="stylesheet" href="/dist/style.css">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
</head>

<body>
    <div id="root"><%-html%></div>
    <style id="jss-server-side">
        <%-css%>
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-pgh4txgxAWWUy0480Ezo-UKiZP-kP4o&libraries=places"></script>
    <script type="text/javascript" src="/dist/vendor.bundle.js"></script>
    <script type="text/javascript" src="/dist/index.bundle.js"></script>
</body>

</html>