<!DOCTYPE html>
<html lang="en">

<head>
    <title>Icon Customer | Screen4</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <link rel="icon" href="/assets/fab.png" type="image/png" sizes="16x16">
    <link rel="manifest" href="/assets/manifest.json">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

    <!-- custom css-->
    <link rel="stylesheet" href="/dist/style.css">
    <link rel="stylesheet" href="/dist/vendor.style.css">
</head>

<body>
    <div id="root"><%-html%></div>
    <style id="jss-server-side"><%-css%></style>

    <script type="text/javascript">window.__INITIAL_STATE__ = <%-storeData%></script>
    <script defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-pgh4txgxAWWUy0480Ezo-UKiZP-kP4o&libraries=places"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.1/firebase.js"></script>
    <script defer type="text/javascript" src="/dist/vendor.bundle.js"></script>
    <script defer type="text/javascript" src="/dist/index.bundle.js"></script>
</body>

</html>