.new-common-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
}
/***** Top Header CSS Start ****/
.top-header{
    background: var(--top--header--light--background);
    font-size: 13px;
    color: #000000;
    padding: 10px 20px;
}

.top-header h6{
    font-weight: 400;
}
.top-header > .down-list{
    display: none;
    cursor: pointer;
    width: 9px;
    height: 9px;
    transform: rotate(133deg);
    border-left: 2px solid #000;
    border-top: 2px solid #000;
}
.top-header ul{
    display: flex;
}
.top-header ul li{
    cursor: pointer;
    font-weight: 500;
    margin-left: 50px;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
}
.top-header ul li:first-child{
    margin-left: 0px;
}
.top-header ul li:hover{
    color: var(--text--primary--color);
}
.r-90{
    transform: rotate(223deg)!important;
}

/***** Top Header CSS Ends ****/

/***** Main Header CSS Starts ****/
.main-header{
    background: var(--white-background);
    box-shadow: 0 13px 12px -11px rgba(0, 0, 0, .4);
}
.menu-icon{
    float: left;
    margin: 27px 15px 0px 45px;
}
.menu-icon > ul{
    cursor: pointer;
}
.menu-icon > ul >li{
    width: 30px;
    height: 2px;
    margin-bottom: 7px;
    background: var(--text--primary--color);
}
/***** Main Header CSS Ends ****/

/***** Responsive Media CSS starts ****/
@media screen and (max-width:767px){
    
    .top-header > .down-list{
        display: block;
    }
    .top-header ul{
        display: none;
        position: absolute;
        width: 89%;
        top: 43px;
    }
    .top-header > ul > li{
        border-bottom: 1px dashed rgba(117, 117, 117, 0.41);
        padding: 20px 0;
        width: 100%;
        font-weight: 400;
        margin-left: 0px;
    }
    .top-header > ul > li:last-child{
        border-bottom: none;
    }
    .top-header-mobile{
        position: fixed;
        z-index: 111;
        height: 100vh;
        align-items: baseline!important;
    }
}
@media (min-width:768px) and (max-width:992px){
    .top-header{
        display: block!important;
    }
    .top-header h6{
       margin-bottom: 10px;
    }
}
/***** Responsive Media CSS Ends ****/