.gold-new-view {
    padding: 65px 0px 0px 0px;
}

/******** heading section css ********/
.heading-name {
    background: rgba(247, 134, 49, 0.2);
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 21px;
}

.gold-new-view>.heading-section {
    background-image: url(/assets/img/goldbgnew.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 300px;
    padding-left: 13%;
    background-color: #f1f1f1;
}

.gold-new-view>.heading-section>h4 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 15px;
}

.gold-family-img {
    position: relative;
    right: 20%;
}

/******** heading section css ********/

.gold-view-main-container {
    margin: -30px 30px 0;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000029;
    background: #fff;
    padding: 0px 30px 20px;
}

/******** Discount listing css ********/
.discount-listing-view {
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.discount-list-item {
    padding: 25px 0px;
}

.discount-list-item>h4 {
    font-size: 17px;
}

/******** Discount listing css ********/

/******** Pricing Table css ********/
.desktop-view-pricing-table {
    display: flex;
}

.pricing-row>h3 {
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    padding: 25px 0 25px;
    text-transform: uppercase;
}

.price-card-list>ul>li {
    font-size: 16px;
    font-weight: 500;
    color: #757575;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.price-card-list>ul>li:first-child {
    padding: 54px 0 15px
}

.price-card-list>ul>li:last-child {
    padding-top: 4px;
}

.pricing-card {
    text-align: center;
    display: inline-block;
    border-right: 1px solid rgba(10, 9, 9, 0.1);
    transition: 0.4s ease-in-out;
    background: #fff;
}

.pricing-card:last-child {
    border-right: none;
}

.pricing-card:hover,
.pricing-card.active {
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 5px;
    border: none;
    transform: scale(1.05);
    z-index: 1;
}

.pricing-card>h5 {
    font-size: 16px;
    font-weight: 500;
    color: #757575;
    text-transform: uppercase;
    margin-top: 35px;
}

.pricing-card>ul>li {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 40px;
    text-align: center;
}

.pricing-card>ul>li.buy-price {
    color: #41A2F9;
    font-size: 28px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.pricing-card>ul>li.buy-price>.popular-col {
    font-size: 12px !important;
    padding: 2px 10px;
    margin-top: -3px;
}

.times-icon-list {
    font-size: 26px !important;
    font-weight: 400 !important;
    margin-bottom: 30px !important;
    margin-top: -16px;
}

.pricing-card>ul>li>button {
    width: 120px;
    height: 35px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: var(--text--primary--color);
    border-color: var(--text--primary--color);

}

.mbl-view-pricing-table {
    display: none;
    padding: 0px 10px;
    margin-bottom: 15px !important;
}

.mbl-view-pricing-table>.price-table>.indicator-box {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: rgba(117, 117, 117, 0.30);
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
}

.mbl-view-pricing-table>.price-table>.indicator-box>img {
    opacity: 0;
}

.mbl-view-pricing-table>.price-table>h4 {
    color: #757575;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    border-right: 1px solid rgba(112, 112, 112, 0.2);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 36px;
    padding: 2px;
    position: relative;
    z-index: 1;
    transition: 0.8s ease-in-out;
    margin-top: 40px;
}

.mbl-view-pricing-table>.price-table {
    transition: 0.8s ease-in-out;
    background: #fff;
    cursor: pointer;
    padding: 10px 0;
}

.mbl-view-pricing-table>.price-table>.shadow-box {
    box-shadow: 0px 1px 6px 1px #00000029;
    position: absolute;
    background: #fff;
    top: 0px;
    width: 100%;
    height: 105px;
    opacity: 0;
    z-index: 1;
}

.shadow-box::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    /* margin-left: -0.5em; */
    bottom: -17px;
    left: 43%;
    box-sizing: border-box;
    border: 9px solid #fff;
    border-color: transparent transparent #fff #fff;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.mbl-view-pricing-table>.price-table:hover>.shadow-box,
.mbl-view-pricing-table>.price-table.active>.shadow-box {
    opacity: 1;
    transform: scale(1.01) !important;
    transition: 0.4s ease-in-out;
}

.mbl-view-pricing-table>.price-table:hover>h4,
.mbl-view-pricing-table>.price-table.active>h4 {
    color: #F78631;
    transform: scale(1.05) !important;
    font-weight: bold;
}

.mbl-view-pricing-table>.price-table:hover>.indicator-box,
.mbl-view-pricing-table>.price-table.active>.indicator-box {
    background: #8EA51D;
}

.mbl-view-pricing-table>.price-table:hover>.indicator-box>img,
.mbl-view-pricing-table>.price-table.active>.indicator-box>img {
    opacity: 1;
}

.mbl-view-pricing-table>.price-table>h3 {
    position: absolute;
    background: #fff;
    color: #000000;
    width: 200px;
    top: 7.5rem;
    z-index: 1;
    text-align: center;
    left: 5rem;
    font-size: 11px;
    font-weight: 400;
}

.mbl-view-pricing-table>.price-table:last-child>h4 {
    border-right: none !important;
}

.mbl-view-pricing-table>.price-table>h4>.price-text {
    color: #41A2F9;
    font-size: 17px;
}

.popular-col {
    background: #F26363;
    font-size: 8px !important;
    font-weight: 400 !important;
    border-radius: 3px;
    color: #fff !important;
    padding: 2px 4px;
    margin: 5px 0;
}

/******** Pricing Table css ********/


.gold-list-row>.col-sm-6 {
    padding: 0px 10px;
}

.gold-list-row>.col-sm-6>.vip-offer-cards {
    border: 1px solid #7575755F;
    border-radius: 10px;
    box-shadow: none;
    width: 100%;
    margin-top: 20px;
}


p.vip-card-list {
    font-size: 16px;
}

.discount-list-item>h5 {
    display: none;
}

.acdn-title>img {
    position: absolute;
    right: 4px;
}

.acdn-up {
    transform: rotate(180deg);
}

.gold-tnc {
    margin-left: 30px;
}

.card-block-widget {
    padding: 30px 30px 0px 30px;
}

.faq-row {
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000029;
    background: #fff;
    margin: 30px 30px 0px;
    padding: 15px;
}

.gold-video-col>.vip-offer-cards {
    box-shadow: none;
    border: 1px solid #cccccc;
}

.video-block-row {
    padding: 0px 15px 15px;
}

/******** Responsive css ********/
@media screen and (max-width:767px) {
    .gold-new-view {
        padding: 51px 0px 0px 0px;
        background: #fff;
    }

    .heading-name {
        font-size: 14px;
    }

    .gold-new-view>.heading-section {
        height: 194px;
        padding: 20px;
        background-size: 100%;
    }

    .gold-new-view>.heading-section>h3 {
        margin-top: -40px;
    }

    .gold-new-view>.heading-section>h4 {
        font-size: 14px;
        font-weight: 500;
        margin-top: 5px;
    }

    .gold-view-main-container {
        margin: 0px;
        padding: 0px;
        background: transparent;
        box-shadow: none;
    }

    .discount-listing-view {
        margin: -44px 10px 0px !important;
        background: #fff;
        border-radius: 5px;
        padding: 15px 10px 15px;
        border-bottom: none;
        box-shadow: 0px 3px 6px #00000029;
        display: flex;
        justify-content: space-around;
    }

    .discount-list-item {
        display: block !important;
        text-align: center;
        padding: 0px;
    }

    .discount-list-item:nth-child(4) {
        display: none !important;
    }

    .discount-list-item>img {
        height: 45px;
    }

    .discount-list-item>h4 {
        display: none !important;
    }

    .discount-list-item>h5 {
        font-size: 10px;
        margin: 0px !important;
        padding-top: 10px;
        display: inline-block;
    }

    .desktop-view-pricing-table {
        display: none;
    }

    .pricing-row>h3 {
        font-size: 16px;
        padding: 15px 0px;
    }

    .med-blocks {
        padding: 10px 0;
        width: 100%;
    }

    .med-blocks>.col-12 {
        margin-bottom: 10px;
    }

    p.vip-card-list {
        font-size: 13px;
        margin-bottom: 5px;
    }

    h4.vip-card-heading {
        font-size: 13px !important;
    }

    .gold-grntee-card {
        padding: 10px;
    }

    .gold-grnte-content h4 {
        font-size: 13px;
    }

    .gold-grnte-content p {
        font-size: 11px;
    }

    .mbl-view-pricing-table {
        display: flex;
    }

    .card-block-widget {
        padding: 10px 10px 0;
    }

    .faq-row {
        margin: 10px;
    }

    .gold-tnc {
        margin: 0px 0px 10px 15px;
    }

    .gold-video-col>.vip-offer-cards {
        margin-bottom: 15px;
    }

    .video-block-row {
        padding: 0px 10px;
    }
    .gold-list-row>.col-sm-6:nth-child(2){
        order: 1;
    }
    .gold-list-row>.col-sm-6:nth-child(4){
        order: 2;
    }
    .gold-list-row>.col-sm-6:nth-child(3){
        order: 3;
    }
    .gold-list-row>.col-sm-6:nth-child(1){
        order: 4;
    }
}

@media (min-width: 768px) {
    .new-cont-ui{
        width: 300px!important;
        margin: 0 auto;
        bottom: 20px !important;
    }

    .mbl-cont-btn {
        display: none;
    }
    .desk-cont-btn {
        border-color: var(--text--primary--color);
        background: #fff;
        width: 100%;
        box-shadow: 0px 3px 6px #00000029;
        color: var(--text--primary--color);
        font-weight: 500;
        font-size: 16px;
        padding: 10px;
        border-radius: 5px;
        display: flex!important;
    }
    .desk-cont-btn>p{
        width: 100%;
    }
}




