.gold-new-view{
    padding: 95px 0px 0px 0px;
}
/******** heading section css ********/
.heading-name{
    background: rgba(247, 134, 49, 0.2);
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 21px;
}
.gold-new-view >.heading-section{
    background-image: url(/assets/img/gold-family.png);
    background-size: cover;
    background-position: top;
    height: 300px;
    padding-left: 13%;
    background-color: #f1f1f1;
}
.gold-new-view >.heading-section>h4{
    font-size: 24px;
    font-weight: 400;
    margin-top: 15px;
}

.gold-family-img{
    position: relative;
    right: 20%;
}
/******** heading section css ********/

.gold-view-main-container{
    margin: -20px 30px 0;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000029;
    background: #fff;
    padding: 0px 30px;
}

/******** Discount listing css ********/
.discount-listing-view{
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}
.discount-list-item{
    padding: 40px 0px;
}

.discount-list-item > h4 {
    font-size: 17px;
} 
/******** Discount listing css ********/

/******** Pricing Table css ********/

.pricing-row > h3{
    font-size: 23px;
    font-weight: 500;
    width: 100%;
    padding: 40px 0 25px;
    text-transform: uppercase;
}
.price-card-list>ul>li{
    font-size: 18px;
    font-weight: 500;
    color: #757575;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.price-card-list>ul>li:first-child{
    padding: 67px 0  15px
}
.price-card-list>ul>li:last-child{
    padding-top: 19px;
}
.pricing-card{
    text-align: center;
    width: 25%;
    display: inline-block;
    border-right: 1px solid rgba(10, 9, 9, 0.1);
    transition: 0.4s ease-in-out;
    background: #fff;
}
.pricing-card:last-child{
    border-right: none;
}
.pricing-card:hover{
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 5px;
    border: none;
    transform: scale(1.05);
}
.pricing-card>h5{
    font-size: 25px;
    font-weight: 500;
    color: #757575;
    text-transform: uppercase;
    margin-top: 35px;
}
.pricing-card>ul>li{
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 40px;
    text-align: center;
}
.pricing-card>ul>li.buy-price{
    color: #41A2F9;
    font-size: 43px;
}
.times-icon-list{
    font-size: 28px!important;
    font-weight: 400!important;
    min-height: 60px;
}
.pricing-card>ul>li>button{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background:var(--text--primary--color);
    border-color: var(--text--primary--color);

}
/******** Pricing Table css ********/

.med-blocks{
    padding: 40px 0px 40px 0px;
    margin: 0px;
}
.med-blocks>.col-sm-6>.vip-offer-cards{
    border: 1px solid #7575755F;
    border-radius: 10px;
    box-shadow: none;
    width: 100%;
}
.med-blocks>.col-sm-6{
    display: flex;
    flex: 1;
}
p.vip-card-list{
    font-size: 16px;
}

/******** Responsive css ********/
@media screen and (max-width:767px){
    .gold-new-view{
        padding: 0px!important;
    }
    .heading-name{
        font-size: 14px;
    }
    .gold-new-view >.heading-section{
        height: 173px;
        padding: 5px 0px 50px 30px;
    }
    .gold-new-view >.heading-section>h4{
        font-size: 14px;
        font-weight: 500;
        margin-top: 5px;
    }
    .gold-view-main-container{
        margin: 0px;
        padding: 0px;
        background: transparent;
    }
    .discount-listing-view{
        margin: -44px 10px 0px!important;
        background: #fff;
        border-radius: 5px;
        padding: 15px 10px 15px;
        border-bottom: none;
        box-shadow: 0px 3px 6px #00000029;
        display: flex;
        justify-content: space-around;
    }
    .discount-list-item{
        display: block!important;
        text-align: center;
        padding: 0px;
    }
    .discount-list-item:nth-child(4){
        display: none!important;
    }
    .discount-list-item>img{
        height: 45px;
    }
    .discount-list-item > h4{
        display: none!important;
    }
    .discount-list-item > h5{
        font-size: 10px;
        margin: 0px!important;
        padding-top: 10px;
    }
}
