.new-main-view{
    padding: 37px;
    margin-top: 68px;
}

/************** full banner section **************/

.full-banner-section{
    position: relative;
}

.full-banner-section > img{
    cursor: pointer;
    transform: scale(1.015);
}

.full-banner-section > a{
    position: absolute;
    right: 32px;
    bottom: 17px;
    color: #FED900;
    font-size: 13px;
}

/************** full banner section **************/
/************** top hospital css **************/

.top-hospitals-row{
    margin-top: 15px;
}
.top-hospitals-row > h6{
    font-size: 14px;
    font-weight: 500;
}

/************** top hospital css **************/
/************** card slider css **************/

.card-slider-container{
    background: #fff;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin-top: 21px;
    margin-bottom: 21px;
    white-space: nowrap;
    overflow: hidden;
}
.slider-card-column{
    width: 190px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    white-space: normal;
}
.slider-card-column:last-child{
    border: none;
}
.card-slider-container > .slider-card-column > .slide-img-col{
    height: 54px;
}
.card-slider-container > .slider-card-column > .slide-img-col > img{
    width: 100%;
    height: inherit;
    object-fit: contain;
    padding: 5px;
}
.card-slider-container > .slider-card-column > h5{
    font-size: 13px;
    font-weight: 500;
    color: #000000;
    margin-top: 10px;
}
.card-slider-container > .slider-card-column > .off-txt{
    color: #94B107;
}


/************** card slider css **************/
/************** responsive media css **************/

@media screen and (max-width:767px){
    .new-main-view{
        padding: 10px;
    }
}

/************** responsive media css **************/
