.new-main-view {
    padding: 110px 37px 37px 37px;
    background: url(/assets/img/main-bg.svg);
}

/************** full banner section **************/

.full-banner-section {
    position: relative;
}

.full-banner-section>img {
    cursor: pointer;
    transform: scale(1.015);
}

.full-banner-section>a {
    position: absolute;
    right: 32px;
    bottom: 17px;
    color: #FED900;
    font-size: 13px;
}

/************** full banner section **************/
/************** top hospital css **************/

.card-block-row {
    margin-top: 15px;
}

.card-block-row>h6 {
    font-size: 14px;
    font-weight: 500;
}

/************** top hospital css **************/
/************** card slider css **************/

.card-slider-container {
    background: #fff;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin-top: 21px;
    margin-bottom: 21px;
    white-space: nowrap;
    overflow: hidden;
}

.slider-card-column {
    width: 190px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    white-space: normal;
}

.slider-card-column:last-child {
    border: none;
}

.card-slider-container>.slider-card-column>.slide-img-col {
    height: 54px;
}

.card-slider-container>.slider-card-column>.slide-img-col>img {
    width: 100%;
    height: inherit;
    object-fit: contain;
    padding: 5px;
}

.card-slider-container>.slider-card-column>h5 {
    font-size: 13px;
    font-weight: 500;
    color: #000000;
    margin-top: 10px;
}

.card-slider-container>.slider-card-column>.off-txt {
    color: #94B107;
}

/************** card slider css **************/

/************** Partner section css **************/
.partner-section {
    white-space: normal;
    padding: 20px 10px;
}

.partner-section>.partner-img-block {
    width: 200px;
    padding: 15px;
}

.partner-section>.partner-img-block>img {
    object-fit: contain;
    transform: scale(0.8);
}

.transform-sc-1 {
    transform: scale(1) !important;
}

/************** Partner section css **************/

/************** we are here  css **************/
.milestone-section {
    white-space: normal !important;
}

.round-col {
    width: 300px;
    height: 300px;
    background: rgba(65, 162, 249, 0.06);
    border-radius: 50%;

}

.round-col>h3 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

.round-col>ul>li {
    padding: 2px;
}

.round-col>ul>li:nth-child(2),
.round-col>ul>li:nth-child(4) {
    margin-top: -10px;
}

.round-col>ul>li:nth-child(3) {
    margin-top: -19px;
}

.consultation-col {
    padding: 0 30px;
    width: 40%;
}

.left-border {
    border-left: 1px solid rgba(112, 112, 112, 0.19);
}

.consultation-col>h3 {
    border-bottom: 1px solid rgba(112, 112, 112, 0.19);
    padding: 30px
}

.consultation-col>h3:last-child,
.consultation-col>h4:last-child {
    border-bottom: none;
}

.consultation-col>h3>span:first-child {
    color: rgba(65, 162, 249, 1);
    font-size: 42px;
}

.consultation-col>h3>span:last-child {
    font-size: 17px;
}

.consultation-col>h4 {
    border-bottom: 1px solid rgba(112, 112, 112, 0.19);
    padding: 16px 50px;
}

.consultation-col>h4>span {
    position: relative;
    left: 20%;
}

.consultation-col>h4>span:first-child {
    color: rgba(65, 162, 249, 1);
    font-size: 32px;
}

.consultation-col>h4>span:last-child {
    font-size: 16px;
}

/************** we are here  css **************/

/************** customer review **************/
.cust-review>.col-sm-4 {
    padding: 25px;
}

.cust-review>.col-sm-4>h3 {
    font-size: 16px;
    font-weight: 500;
    padding: 5px 0;
}

.cust-review>.col-sm-4>p {
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}

.cust-img-block>img,
.cust-img-block>span {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(227, 135, 135, 1);
}

/************** customer review **************/


.detail-row {
    margin: 50px 50px 0;
}

.detail-row>h6 {
    font-size: 22px;
}

.other-details>ul {
    margin-top: 75px;
}

.other-details>ul>li {
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
}

.other-details>ul>li::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #f1853b;
    margin-right: 20px;
}

.download-links {
    margin-top: 30px;
}

.demo-mbl-screen-col>img {
    transform: scale(1.2);
    position: relative;
    right: -20%;
}

/************** responsive media css **************/

@media screen and (max-width:767px) {
    .new-main-view {
        padding: 10px;
    }
}

/************** responsive media css **************/
