.v-btn.v-btn-primary.tag-sm.outline.selected{
    background-color: var(--text--primary--color);
    color: white;
}

.filterRow {
    display: block;
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
    height: 90px;
}

.tl {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--text--primary--color);
    font-weight: bold;
    font-size: 14px;
}

.tr {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--text--primary--color);
    font-weight: bold;
    font-size: 14px;
}

.bl {
    position: absolute;
    bottom: 8px;
    left: 0;
    font-weight: bold;
    font-size: 14px;
}

.br {
    position: absolute;
    bottom: 8px;
    right: 0;
    font-weight: bold;
    font-size: 14px;
}

.range {
    margin-top: 25px;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.fade-exit {
    display: none;
}

.fade-exit.fade-exit-active {
    display: none;
}


/* .fade-enter {
    padding:1px;
    margin:-1px;
    transform: translate3d(100%, 0, 0);
 
} 

.fade-enter.fade-enter-active {
    transform: translate3d(0, 0, 0);

    transition: all 300ms;

}

.fade-exit {
    padding:1px;
    margin:-1px;

    transform: translate3d(0, 0, 0);
    
}

.fade-exit.fade-exit-active {
    transform: translate3d(100%, 0, 0);

    transition: all 300ms;

} */

.loaderCircular {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.dp-loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid var(--text--primary--color);
    border-right: 4px solid var(--text--primary--color);
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    z-index: 7;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loaderactual {
    margin: auto;
}

.errorMessage {
    color: red;
    font-weight: bold;
    width: 100%;
    float: left;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 15px;
}

.checkFilter {
    margin-top: 15px;
    height: 25px;
    width: 25px;
    background-color: white;
    border: var(--text--primary--color);
    float: left;
}

.checkFilterLabel {
    float: left;
    margin-left: 17px;
    margin-top: 29px;
    margin-right: 30px;
}

.Clinic-card-list>li {
    width: 85%;
    margin-right: 15px;
    margin-left: 0;
    padding-bottom: 8px;
}

.fullscreen {
    background-color: rgba(0, 0, 0, 0.69);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: flex-end;
}

.addresspicker {
    width: 100%;
    height: 191px;
    background-color: white;
    overflow-y: hidden;
    overflow-x: auto;
}

.addresspickerDiv {
    float: left;
    margin-left: 9px;
    margin-top: 64px;
    padding: 10px 8px 20px;
    width: 126px;
    height: 108px;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    word-wrap: break-word;
}

.inlineElements {
    display: inline-flex;
}
.addresspickerDiv.selected{
    border: solid 1px var(--text--primary--color);
    position: relative;
}

.addressText {
    font-weight: 500;
    font-size: 12px;
    height: 70px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.addresspickerDiv.selected .selectedText {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: var(--text--primary--color);
}

.addresspickerDiv .selectedText {
    display: none;
}

.selectadd {
    position: absolute;
    margin-top: 11px;
    left: 24px;
    font-weight: 500;
    color: black;
    font-size: 14px;
}

.addnewadd {
    position: absolute;
    margin-top: 11px;
    right: 24px;
    font-weight: 500;
    color: var(--text--primary--color);
    font-size: 16px;
}

.profile-info {
    width: 100%;
    display: inline-flex;
}

.loaderPagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.selectedpill {
    border-color: #ffffff !important;
    background-color: #818181 !important;
    color: white !important;
    padding-right: 8px;
}

.cross {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-left: 8px;
    margin-top: 0px;
    background-color: #fff;
    opacity: 1!important;
    width: 20px;
    height: 20px;
    border-radius: 17px;
}

.cross::before,
.cross::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #818181;
    margin: 2px;
    width: 12px;
    margin-top: 8.5px;
    margin-left: 4px;
}

.cross:active {
    background-color: #e4e4e4;
}

.cross::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cross::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cross.rounded::before,
.cross.rounded::after {
    border-radius: 5px;
}

ul.inline-list li {
    margin-left: 3px;
}

.overlay.black {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-animation: FadeIn 0.5s;
    -moz-animation: FadeIn 0.5s;
    -ms-animation: FadeIn 0.5s;
    -o-animation: FadeIn 0.5s;
    animation: FadeIn 0.5s;
}

.filter-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
}

.filter-overlay>.filter-popup {
    margin: 0;
}

.filter-item {
    overflow: hidden;
    height: 55px;
    text-overflow: ellipsis;
}

.filterInput {
    margin-right: 125px;
    margin-top: -12px;
}

.filterLabel {
    margin-top: 11px;
}

.filterRowShort {
    height: 56px;
}

.filterSitsAt {
    height: 80px;
    margin-top: -7px;
}

.filterRowFemaleDoc {
    border-bottom: hidden;
    height: 45px;
    margin-top: -10px;
}
.resendOtp{
    color: var(--text--primary--color);
    font-weight: 500;
    margin-top: 10px;
    cursor: pointer;
}

.MuiCheckbox-checkedSecondary-15 {
    color: var(--text--primary--color)!important;
}

.arrow-forward-right {
    color: var(--text--primary--color);
    font-weight: 500;
}

.imageReports {
    width: 100%;
    margin-bottom: 20px;
}

.filter-title {
    height: 100%;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
    padding-right: 0px!important;
}

.notification-alert {
    background-color: #ff6326;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -5px;
    display: inline-block;
    color: white;
    font-size: 10px;
    font-weight: bold;
}

.selectedSymp {
    background-color: #ea8431 !important;
}

.selectedSympP {
    color: white !important;
}

.diabledtspill {
    color: gray !important;
    border-color: gray !important;
    text-decoration: line-through;
}

.diabledtspill:hover,
.diabledtspill:focus {
    text-decoration: line-through !important;
}

.noappointmentfound {
    text-align: center;
    margin-top: 60px;
    font-size: 15px;
    background-color: white;
    padding: 20px;
    font-weight: bold;
}

.errorColorBorder {
    border: 1px solid red !important;
}

.search-list-hr {
    margin: 20px -25px 0;
}

.selected-content-list-item {
    display: flex;
    padding: 12px 15px;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid rgba(211, 211, 211, 0.6);
}

.selected-content-list-item:last-child {
    border: none;
}

.selected-content-list-item>img {
    cursor: pointer;
}

.disableddaypill {
    color: #d3d3d3 !important;
}

.expansion-panel-list-item {
    padding: 15px 10px !important;
    cursor: pointer;
    border-bottom: 1px solid #d3d3d3;
}

.expansion-panel-list-item:last-of-type {
    border: none;
}

.expansion-content {
    border-radius: 10px;
}

.MuiExpansionPanelDetails-root-72 {
    padding: 0 15px !important;
}

.expansion-label-div {
    display: block;
}

.expansion-label-div:first-child {
    margin-left: 0;
}

.expansion-label-div>label>span {
    margin-left: 8px;
}

.expansion-label-div>p {
    margin-top: 10px;
    padding-left: 0 !important;
}

.expansion-label-div>p>span {
    margin-left: 8px;
}

.profile-book-screen {
    margin-top: 10px;
    margin-bottom: 52px;
}

.chat-header{
    background-color: var(--text--primary--color) !important;
    height: auto;
    padding: 8px 0;
}

.chat-header-profile {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex: 1;
    max-width: unset;
    min-width: 0;
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
}

.chat-profile-icon {
    width: 40px;
}

.chat-profile-icon>img {
    width: 100%;
    border-radius: 50%;
}

.chat-profile-desc-div {
    margin-left: 8px;
    min-width: 0;
    flex: 1;
}

.chat-profile-name {
    color: #fff;
    font-size: 16px;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-profile-desc {
    color: #fff;
    font-size: 13px;
    margin-top: 2px;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 107px;
    margin-left: auto;
}

.chat-icons>img {
    width: 18px;
    margin-top: 2px;
    cursor: pointer;
}

.chat-container {
    padding-left: 0;
    padding-right: 0;
}

.chat-iframe {
    width: 100%;
    height: 100%;
}

.chat-iframe-inner {
    width: 100%;
    height: calc(100vh - 428px);
}

@media(max-width: 576px) {
    .chat-header-profile {
        padding-left: 0;
    }
}

@media(max-width: 992px) {
    .opd-search-section {
        margin-top: 0;
        padding-bottom: 80px;
    }
}

.initialsPicture {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: #fff;
}

.initialsPicture-appointment {
    height: 64px;
    width: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #fff;
    position: relative;
    border: 1px solid #ddd;
}

.initialsPicture-family {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    border: 1px solid #ddd;
}

.initialsPicture-ds {
    height: 60px;
    margin-right: 4px;
    width: 60px;
    border-radius: 50%;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: #fff;
}

.initialsPicture-ls {
    height: 60px;
    margin-right: 4px;
    width: 60px;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    border-radius: 5px;
    border: 1px solid #dddddd;
    text-shadow: 0px 1px #ddd;
}

.initialsPicture-dp {
    height: 80px;
    margin-right: 4px;
    width: 80px;
    border-radius: 50%;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #fff;
}

.initialsPicture-dpl {
    height: 50px;
    margin-right: 4px;
    width: 50px;
    display: inline-flex;
    float: right;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
    color: #fff;
}

.initialsPicture-lp {
    height: 78px;
    margin-right: 4px;
    width: 78px;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: #fff;
}

.initialsPicture-lb {
    height: 50px;
    float: right;
    margin-right: 4px;
    width: 50px;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: #fff;
}

.initialsPicture-dbd {
    height: 50px;
    float: right;
    margin-right: 4px;
    width: 50px;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: #fff;
    border-radius: 50%;
    margin-top: -28px;
}

.disableddaypill:hover {
    border: none !important;
}

.notification-alert-desktop {
    background-color: #ff4800;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    left: 9px;
    border: 1px solid #fff;
    top: -8px;
    padding-bottom: 1px;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
}

.notification-alert-mobile {
    background-color: #ff4800;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    right: 6px;
    border: 1px solid #fff;
    top: -8px;
    padding-bottom: 1px;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
}

.initialsPicture-cb {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    color: #fff;
}

.clinic-selector-name {
    width: 70%;
    white-space: normal;
    float: left;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ci {
    height: 9px;
    width: 9px;
    border: 1px solid #ea8431;
    border-radius: 50%;
    margin-left: 10px;
    display: inline-block;
}

.ciselected {
    height: 9px;
    width: 9px;
    background-color: #ea8431 !important;
    border: 1px solid #ea8431;
    border-radius: 50%;
    margin-left: 10px;
    display: inline-block;
}

.arrow-custom-right {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.appointment-status {
    position: absolute;
    top: 2px;
    right: 8px;
    font-weight: bold;
}

.titlearrow {
    position: absolute;
    right: 16px;
    top: 10px;
}

.titlearrow {
    position: absolute;
    right: 8px;
    top: 10px;
}

.titlearrow-up {
    position: absolute;
    right: 8px;
    top: 10px;
    transform: rotate(180deg);
}

.initialsPicture-cs {
    height: 40px;
    margin-right: 4px;
    width: 40px;
    border-radius: 50%;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #fff;
}

@media(min-width: 576px) {
    .time-availability-div {
        text-align: right;
    }
    .time-availability-div>p {
        width: auto !important;
    }
}

.mobile-home-icon-div {
    width: 40px;
    cursor: pointer;
    margin-top: 14px;
}

.mobile-home-icon {
    width: 100%;
}

@media(min-width: 500px) {
    .mobile-home-icon-div {
        right: 0;
    }
}

.banner-img {
    width: 100%;
}

@media(min-width: 992px) {
    .mobile-home-icon-div,
    .mobile-logout-text {
        display: none;
    }
    .banner-img {
        width: 70%;
    }
}

.mobile-logout-text {
    color: #ffffff;
    font-size: 12px;
    cursor: pointer;
    margin-left: -15px;
    line-height: 50px;
}

figure>img {
    width: 100%;
    margin-bottom: 30px;
}

.article-header {
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(211, 211, 211, 0.4);
}

.dp-article-heading>h1 {
    font-size: 30px;
}

.docprime-article p {
    font-size: 16px;
    margin-bottom: 10px;
}

.docprime-article a, .docprime-article a:hover{
    color: var(--text--primary--color);
}

.docprime-article h1,
.docprime-article h2,
.docprime-article h3,
.docprime-article h4,
.docprime-article h5,
.docprime-article h6 {
    margin-bottom: 15px;
}

.docprime-article h1,
.docprime-article h2 {
    font-weight: 500;
}

.docprime-article h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.docprime-article ul {
    list-style-type: disc;
    padding-left: 16px;
}

.docprime-article table,
.docprime-article tr,
.docprime-article th,
.docprime-article td {
    border: 1px solid #000;
}

.docprime-article table {
    width: 100% !important;
}

.docprime-article td {
    padding: 6px 10px;
}

.docprime-article a:not([href]) {
    display: block;
    position: relative;
    top: -110px;
    visibility: hidden;
}

@media(max-width: 992px) {
    .docprime-article a:not([href]) {
        top: -50px;
    }
}

.related-articles-div {
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .12), 1px 1px 4px rgba(0, 0, 0, .24);
    border-radius: 10px;
    background-color: #fff;
    margin-top: 10px;
}

@media(min-width: 768px) {
    .related-articles-div {
        margin-top: 20px;
    }
}

.related-article-sub,
.related-article {
    padding: 0 10px 10px;
    border-bottom: 1px solid #d3d3d3;
    margin: 0 -10px 10px;
}

.related-article-sub:last-child,
.related-article:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.related-article>p {
    font-size: 18px;
    color: #000000;
}

.related-articles-list {
    list-style-type: disc;
    padding-left: 16px;
}

.related-articles-list li{
    color: var(--text--primary--color);
    cursor: pointer;
    font-size: 14px;
}

.chat-history-list>li {
    padding: 16px 10px;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.chat-history-list>li:last-child {
    border: none;
}

.chat-history-list-label {
    color: #757575;
    margin-bottom: 10px;
    font-size: 16px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-history-list-label>span {
    color: #000000;
}

.chat-history-symptom {
    color: #3f3f3f;
    font-size: 14px;
    margin-bottom: 12px;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.chat-history-date>img {
    float: left;
    width: 20px;
}

.chat-history-date>p {
    padding-left: 28px;
    color: #3f3f3f;
    font-size: 14px;
}

.newappointmenth4 {
    color: black !important;
    font-weight: bold !important;
}

.newappointment {
    color: black !important;
    font-weight: bold !important;
}

.view-in-map:hover, .view-in-map:focus{
    color: var(--text--primary--color) !important;
}

.viewpresbtn {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    height: 40px;
    width: 160px;
    background-color: var(--text--primary--color);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.form-control:focus {
    box-shadow: -1.2px 1.6px 4px 0 rgba(0, 0, 0, 0.38);
    outline: none;
}

.sendemailsms {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 100px;
}

.col-12.col-md-7.col-lg-7 {
    padding-top: 10px;
}

.col-12.col-md-7.col-lg-7.criteria-search-header {
    padding-top: 0;
}

.wrap.all-test-screen {
    margin-top: 0px;
}

@media(max-width: 992px) {
    .col-12.col-md-7.col-lg-7.criteria-search-header {
        padding-top: 10px;
    }
    .wrap.all-test-screen {
        margin-top: 20px;
    }
}

.cht-head-rqst-btn span {
    cursor: pointer;
}

.dp-user-list {
    box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.dp-user-list>li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dp-user-list>li:last-child {
    border: transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.logout-div {
    position: fixed;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.logout-div>p {
    font-size: 18px;
    color: var(--text--primary--color);
}

@media(min-width: 993px) {
    .update-profile-img-btn {
        left: 50% !important;
        transform: translateX(-50%);
        width: 600px;
    }
}

.fiftyoff {
    font-size: 14px;
    color: #ea832e;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 4px;
}

.noopDiv {
    background-color: white;
    text-align: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12), 1px 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 12px;
    margin: 15px;
}

.noop {
    width: 60%;
}

.ofr-ribbon {
    background: #fc092b;
    color: #fff;
    font-size: 13px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.13);
    text-transform: uppercase;
}

span.ofr-ribbon {
    border-width: 1px 1px 2px;
    margin: 0;
    padding: 4px 6px;
    position: absolute;
    right: -8px;
    top: 8px;
}

span.home-ofr-ribbon {
    top: 16px;
}

span.ofr-ribbon:after {
    border-width: 4px;
    border-style: solid;
    border-color: #73818800 #ed3f3a00 #bd2b26 #bd2b26;
    top: -8px;
    content: "";
    position: absolute;
    right: 0px;
}

.free-ofr-ribbon {
    background: #55a740 !important;
}

span.free-ofr-ribbon:after {
    border-color: #73818800 #ed3f3a00 #468e34 #478a36 !important
}

.pdf-report-div {
    width: 100%;
    position: relative;
    height: 230px;
    margin: 0px 0 20px;
    background-color: white;
    cursor: pointer;
}

.pdf-report-div>img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dwnloadbtnpres {
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-top: 19px;
    cursor: pointer;
    margin-right: 10px;
}

.sort-dropdown-div {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 110px;
    background-color: #fff;
    z-index: 91;
    text-align: left;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.sort-dropdown-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.sort-dropdown-list {
    padding: 0;
    width: 100%;
    list-style: none;
}

.sort-dropdown-list-item {
    display: block;
    padding: 8px 12px;
    font-size: 17px;
    cursor: pointer;
    border-bottom: 1px solid #d8d8d8;
}

.sort-item-selected {
    background-color: #efefef;
}

.sort-dropdown-list-item:last-child {
    border-bottom: none;
}

.sort-dropdown-list-item:hover {
    background-color: #efefef;
}

.user-address-hidden-radio {
    position: absolute;
    visibility: hidden;
    cursor: pointer;
    top: 17px;
}

.user-address-radio {
    position: absolute;
    top: 17px;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid var(--text--primary--color);
}

.user-address-hidden-radio:checked~.user-address-radio {
    background-color: #fff;
}

.user-address-radio:after {
    content: "";
    position: absolute;
    display: none;
}

.user-address-hidden-radio:checked~.user-address-radio:after {
    display: block;
}

.user-address-radio:after {
    top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background: var(--text--primary--color);
}

.opd-filter-hidden-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 19px;
    width: 19px;
    top: 12px;
    right: 100px;
    z-index: 1;
}

.opd-filter-checkbox {
    position: absolute;
    height: 19px;
    width: 19px;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    top: 12px;
    right: 100px;
}

.opd-filter-hidden-checkbox:checked ~ .opd-filter-checkbox {
    background-color: var(--text--primary--color);
    border: 2px solid var(--text--primary--color);
}

.opd-filter-checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

.opd-filter-hidden-checkbox:checked~.opd-filter-checkbox:after {
    display: block;
}

.opd-filter-checkbox:after {
    left: 5px;
    top: 1px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.lgo-text {
    color: #ffffff;
    display: inline-block;
    font-weight: 500;
    border-left: 1px solid white;
    padding-left: 5px;
    margin-left: 8px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.lgo-text span {
    display: block;
}

.dp-accordian {
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
}

.acdn-title {
    cursor: pointer;
    position: relative;
}

.acdn-title>h2 {
    font-size: 16px;
    margin-bottom: 0;
}

.acdn-hr {
    margin: 10px -15px;
    height: 1px;
    border: none;
    background-color: #d3d3d3;
}

.acdn-arrow {
    position: absolute;
    right: 4px;
    top: 10px;
}

.acdn-arrow-up {
    position: absolute;
    right: 4px;
    top: 10px;
    transform: rotate(180deg);
}

.acdn-block {
    display: block;
}

.acdn-none {
    display: none;
}

.acdn-heading {
    font-size: 16px;
    margin-top: 25px;
}

.acdn-subheading {
    font-size: 14px;
    margin-bottom: 4px;
}

.acdn-ques {
    font-size: 14px;
    margin: 0;
}

.time-error {
    color: red;
    font-size: 11px;
    position: absolute;
    right: 0px;
    top: 16px;
}

.chat-article-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text--primary--color);
    color: #fff;
    height: 54px;
    flex-direction: column;
    font-size: 18px;
    line-height: 18px;
    padding: 8px;
    cursor: pointer;
}

.chat-article-btn>span {
    font-size: 13px;
}

.docprime-article {
    word-break: break-word;
}

.article-author-div {
    display: flex;
    align-items: flex-start;
}

.initialsPicture-author {
    width: 40px;
    height: 40px;
    font-size: 1.3em;
    margin-right: 8px;
}

.author-dtls {
    flex: 1;
}

.author-name-div {
    display: flex;
    align-items: center;
}

.author-name-div h3 {
    font-size: 16px;
    margin-bottom: 2px;
}

.author-exp-div {
    display: flex;
    align-items: center;
}

.author-exp-div>span,
.article-date>span,
.last-updated>span,
.author-name-div span {
    font-size: 12px;
    color: #757575;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 4px;
}


/* Test Blog Styles */

.tst-main-acrd-data a#about-test,
.tst-main-acrd-data a#why-get-tested,
.card.cstm-card a#lab,
.card.cstm-card a#opd,
.tst-main-acrd-data a#test-includes,
.tst-main-acrd-data a#package-includes,
.tst-main-acrd-data a#test-preparations,
.tst-main-acrd-data a#test-faq {
    display: block;
    position: relative;
    top: -108px;
    visibility: hidden;
}

.table-of-content-desktop {
    display: block;
}

.table-of-content-mobile {
    display: none;
}

@media (min-width: 768px) and (max-width: 991px) {
    .tst-main-acrd-data a.anchor-link {
        top: -90px !important;
    }
}

@media (max-width: 767px) {
    .tst-main-acrd-data a.anchor-link {
        top: 0px !important;
    }
    .table-of-content-desktop {
        display: none;
    }
    .table-of-content-mobile {
        display: block;
    }
}
