#oneclick-label{
	margin-top: 10px;
}

#click-icon{
	width: 20px;
    margin-left: 10px;
    margin-right: 30px;
}
.media-img{
    width:140px;
    height:140px;
    display: inline-block;
    overflow: hidden;
}