$primary-color : #17a2b8;
$background-color : #f1f1f1;

body{
    background-color: $background-color;
    padding: 0px !important;
    margin: 0px !important;
}

#topbar{
    width: 100%;
    height: 45px;
    background-color: #fff;
    color: white;
    opacity: 0.75;
}

.searchCriteria{
    visibility: visible;
    .commonlySearched{
        width: 100%;
        min-height: 175px;
        .heading{
            width: 100%;
            background-color: #dedede;
            display: block;
            margin-top: 10px;
            padding: 5px;
        }
        .pills{
            width: 100%;
            height: auto;
            .pill{
                width: auto;
                // padding: 10px;
                background-color: white;
                margin: 5px;
                // display: inline-block;
                // border-radius: 20px;
                font-size: 15px;
                margin-top: 10px;
                // border: 1px solid #dadada;
                cursor: pointer;
            }
            .selected{
                border: 1px solid red;
            }
        }
    }

    .locationSelector{
        width: 100%;
        min-height: 50px;
        padding: 5px;

        input{
            width: 80%;
            border-radius: 8px;
            border: 1px solid #c1c1c1;
            padding: 10px;
            float: left;
        }

        .currentLocation{
            margin-left: 10px;
            float: left;
            margin-top: 5px;
        }

        
    }

    .proceedBtn{
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40px;
        border: none;
        background-color: #00b7b0;
        color: white;
        font-size: 16px;
    }

    .criteriaSelector{
        width: 100%;
        min-height: 50px;
        padding: 5px;

        input{
            width: 90%;
            border-radius: 8px;
            border: 1px solid #c1c1c1;
            padding: 10px;
            float: left;
        }

        .pillselected{
            color: white;
            background-color: #63b9b0;
            margin: 5px;
            margin-left: 0px;
        }
    }

}

.locationSearch{
    height: 100vh;
    background-color: white;
    
    .topSearch{
        width: 94%;
        border: none;
        outline: none;
        height: 34px;
        padding: 10px;
        border-bottom: 1px solid #d9d9d9;
    }
    
}

.pac-container{
    box-shadow: 0px 0px 0px !important;
}
.pac-item {
    cursor: default;
    padding: 0 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 30px;
    text-align: left;
    border-top: 1px solid #e6e6e6;
    font-size: 15px;
    color: #999;
    padding-left: 10px;
}

.pac-icon-marker {
    background-position: -1px -161px;
    display: none;
}

.pac-item-query {
    font-size: 13px;
    padding-right: 3px;
    color: #000;
    display: block;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}
  
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.searchResults{
    visibility: visible;
    .doctorsList{
        visibility: visible;
    }

    .topBar{
        width: 100%;
        background-color: white;
        height: 45px;
        margin-bottom: 10px;

        .iconsortfilter{
            float: right;
            font-size: 30px;
            margin-top: 7px;
            margin-right: 10px;
        }
    }
}

.searchResultsFilter{
    .subFilter{
        float: left;
        width: 100%;
        min-height: 150px;
        background-color: white;
        margin-top: 10px;
        padding: 10px;

        .subHeading{
            width: 100%;
            padding: 5px;
            background-color: #efefef;
            margin-top: 0px;
        }
    }
}

.doctorCard{
    width: 100%;
    height: auto;
    background-color: white;
    margin-bottom: 5px;
    float: left;
    
    .detailsDiv{
        float: left;
        width: 100%;
        height: 75%;
        padding-bottom: 10px;

        .subOptionsImage{
            width: 20%;
            float: left;
            height: 100%;
            display: block;
            box-sizing: border-box;
            .doctorImage{
                width: 100%;
                font-size: 50px;
                margin-top: 15px;
                height: 75px;
            }
        }

        .subOptionsContent{
            width: 50%;
            float: left;
            display: block;
            padding: 10px;
            height: 100%;
            box-sizing: border-box;
            .name{
                display: block;
                font-size: 19px;
            }

            .qualification{
                display: block;
                font-size: 10px;
                margin-top: 5px;
                color: #424040;
            }

            .designation{
                display: block;
                font-size: 10px;
                color: #424040;
            }

            .experience{
                display: block;
                font-size: 10px;
                margin-top: 15px;
                color: #424040;
            }
        }

        .subOptionsInteract{
            width: 30%;
            float: left;
            height: 100%;
            display: block;
            box-sizing: border-box;

            .bookNow{
                display: block;
                margin-top: 30px;
                margin-left: 14px;
                border: none;
                padding: 7px;
                border-radius: 5px;
                background-color: #ff7d2d;
                color: white;
            }
            .price{
                font-size: 13px;
                margin-left: 17px;
                float: left;
                margin-top: 8px;
            }
        }
    }

    .bottomOptions{
        float: left;
        width: 100%;
        height: 25%;
        border-top: 1px solid #efefef;

        .subOptions{
            width: 33%;
            float: left;
            border-right: 1px solid #efefef;
            height: 100%;
            display: block;
        
            .clinicIcon{
                float: left;
                margin-top: 8px;
                color: gray;
                font-size: 20px;
                margin-left: 5px;
            }
            .clinicName{
                display: block;
                font-size: 11px;
                color: #131313;
                float: left;
                margin-left: 8px;
                margin-top: 11px;
            }
            .timeEntry{
                float: left;
                font-size: 11px;
                margin-top: 3px;
                margin-left: 12px;
            }
        }
    }
    
}

.doctorProfile{
    .aboutDoctor{
        width: 95%;
        height: auto;
        background-color: white;
        margin-bottom: 5px;
        float: left;
        min-height: 100px;
        padding: 10px;

        h5{
            float: left;
            width: 100%;
            margin: 0px;
            margin-bottom: 10px;
        }
    }
    .professionalGraph{
        width: 95%;
        height: auto;
        background-color: white;
        margin-bottom: 5px;
        float: left;
        min-height: 300px;
        padding: 10px;

        h5{
            float: left;
            width: 100%;
            margin: 0px;
            margin-bottom: 10px;
        }
        .epanel{
            float: left;
            width: 100%;
        }
    }
    .clinicSelector{
        width: 95%;
        height: auto;
        background-color: white;
        margin-bottom: 5px;
        float: left;
        min-height: 100px;
        padding: 10px;

        h5{
            float: left;
            width: 100%;
            margin: 0px;
            margin-bottom: 10px;
        }

        .clinic{
            float: left;
            width: 100%;
            padding: 5px;
            padding-left: 0px;
            border-bottom: 1px solid #e2e2e2;
            padding-bottom: 15px;
            margin-top: 5px;
            .name{
                float: left;
                width: 33%;
                word-wrap: break-word;
                font-size: 13px;
                padding-top: 9px;
            }
            .details{
                float: left;
                width: 50%;
                word-wrap: break-word;
                font-size: 13px;
                position: relative;

                .clockIcon{
                    visibility: visible;
                    position: absolute;
                    top: 4px;
                    left: 16px;
                    font-size: 20px;
                    color: gray;
                }
                .moneyIcon{
                    position: absolute;
                    top: 26px;
                    left: 16px;
                    font-size: 20px;
                    color: gray;
                }
                p{
                    margin: 0;
                    margin-left: 50px;
                }
                span{
                    margin-right: 2px;
                }
            }
            .book{
                float: left;
                width: 12%;
                word-wrap: break-word;
                font-size: 13px;
                position: relative;
                .text{
                    float: left;
                    position: absolute;
                    width: 70%;
                    top: 7px;
                    font-size: 15px;
                }

                .bookIcon{
                    float: left;
                    width: 40%;
                    position: absolute;
                    right: -6px;
                    top: 5px;
                }
            }
            .isAvailable{
                color: #00b7b0;
            }
        }
    }
}

.appointmentSlot{
    .timeSlotSelector{
        width: 95%;
        height: auto;
        background-color: white;
        margin-bottom: 5px;
        float: left;
        min-height: 65px;
        padding: 10px;
        position: relative;

        h5{
            float: left;
            width: 103%;
            margin-bottom: 10px;
            background-color: #f2f2f2;
            margin: 0;
            padding: 5px;
            margin-left: -10px;
            margin-top: -10px;
        }

        .dateCar{
            padding: 5px;
            float: left;
            width: 100%;
            padding-left: 0px;
            margin-top: 10px;

            .scroller{

            }
            
            .dateTile{
                width: 50px;
                height: 50px;
                float: left;
                border: 1px solid #e4e4e4;
                padding: 5px;
                border-radius: 5px;
                margin-right: 5px;
                cursor: pointer;

                .date{
                    margin: 0px;
                    font-size: 30px;
                    margin-left: 10px;
                }
                .day{
                    margin: 0px;
                    font-size: 12px;
                    margin-left: 14px;
                    color: #2b2b2b;
                }
            }

            .dateTile.selected{
                background-color: #f3f3f2;
                color: #00b7b0;
            }

            .dateTile.disabled{
                background-color: grey;
                color: white;
            }
        }

        .timeSlots{

            padding: 5px;
            float: left;
            width: 100%;
            padding-left: 0px;
            margin-top: 10px;

            .tsBtn{
                width: 50%;
                float: left;
                box-sizing: border-box;
                height: 35px;
                border: 0px;
                background-color: #f2f2f2;
            }
            .tsBtn.selected{
                background-color: #00b7b0;
                color: white;
            }
            .tsBtn.disabled{
                background-color: grey;
                color: white;
            }
            .slots{
                width: 100%;
                float: left;
                box-sizing: border-box;
                
                .slot{
                    width: 72px;
                    height: 25px;
                    float: left;
                    background-color: #fff;
                    border: 1px solid #dedede;
                    text-align: center;
                    padding-top: 7px;
                    padding-bottom: 0px;
                    border-radius: 25px;
                    margin: 10px;
                }
                .slot.selected{
                    background-color: #00b7b0;
                    color: white;
                }
                .slot.disabled{
                    background-color: grey;
                    color: white;
                }
            }
        }
    }

    .proceedbtn{
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40px;
        border: none;
        background-color: #00b7b0;
        color: white;
        font-size: 16px;
    }

}

.patientDetails{
    .proceedbtn{
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40px;
        border: none;
        background-color: #00b7b0;
        color: white;
        font-size: 16px;
    }
}

.selectedAppointmentSlot{
    width: 95%;
    height: auto;
    background-color: white;
    margin-bottom: 5px;
    float: left;
    min-height: 65px;
    padding: 10px;

    h5{
        float: left;
        width: 103%;
        margin-bottom: 10px;
        background-color: #f2f2f2;
        margin: 0;
        padding: 5px;
        margin-left: -10px;
        margin-top: -10px;
    }

    .appdate{
        width: 25%;
        word-wrap: break-word;
        margin-top: 10px;
        float: left;
        text-align: center;
        color: #00b7b0;
        padding-top: 9px;
    }
    .date{
        text-align: center;
        width: 75%;
        word-wrap: break-word;
        margin-top: 10px;
        float: left;
        box-sizing: border-box;
        padding-right: 25px;
        font-size: 22px;
    }
}

.selectedClinic{
    width: 95%;
    height: auto;
    background-color: white;
    margin-bottom: 5px;
    float: left;
    min-height: 65px;
    padding: 10px;

    h5{
        float: left;
        width: 103%;
        margin-bottom: 10px;
        background-color: #f2f2f2;
        margin: 0;
        padding: 5px;
        margin-left: -10px;
        margin-top: -10px;
    }

    .clinicName{
        width: 50%;
        word-wrap: break-word;
        margin-top: 10px;
        float: left;
    }
    .fee{
        width: 50%;
        word-wrap: break-word;
        margin-top: 10px;
        float: left;
        box-sizing: border-box;
        text-align: right;
        padding-right: 25px;
    }
}

.detailsForm{
    width: 95%;
    height: auto;
    background-color: white;
    margin-bottom: 5px;
    float: left;
    min-height: 65px;
    padding: 10px;

    h5{
        float: left;
        width: 103%;
        margin-bottom: 10px;
        background-color: #f2f2f2;
        margin: 0;
        padding: 5px;
        margin-left: -10px;
        margin-top: -10px;
    }

    .ptname{
        width: 90%;
        height: 30px;
        padding: 5px;
        margin: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #d6d6d6;
    }

    .ptemail{
        width: 90%;
        height: 30px;
        padding: 5px;
        margin: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #d6d6d6;
        margin-top: 0px;
    }

    .ptmobile{
        width: 50%;
        height: 30px;
        padding: 5px;
        margin: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #d6d6d6;
        margin-top: 0px;
    }

    .otpbtn{
        width: 35%;
        height: 30px;
        padding: 5px;
        margin: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        margin-top: 0px;
        margin-left: 9px;
        background-color: #63b9b0;
        color: white;
        border: 0px;
    }

    .ptotp{
        width: 50%;
        height: 30px;
        padding: 5px;
        margin: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #d6d6d6;
        margin-top: 0px;
    }
    .ptgender{
        width: 90%;
        height: 30px;
        padding: 5px;
        margin: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #d6d6d6;
        margin-top: 0px;

        span{
            margin-right: 20px;
        }
    }
}

.profileSlider{
    height: 150px;
    margin-top: 45px;
    .slideTile{
        height: 100%;
        .profileCardImage{
            width: 100%;
            height: 150px;
        }
        
    }
}

.userProfile{

    .userDeail{
        width: 100%;
        p{
            width: 100%;
            text-align: center;
            margin: 0px;
        }
    }
    .profileBtns{
        width: 100%;

        button{
            width: 38%;
            float: left;
            box-sizing: border-box;
            margin: 6%;
            padding: 15px;
            border-radius: 5px;
            border: 1px solid #b7b7b7;
            background-color: white;
            margin-bottom: 0px;
            cursor: pointer;
        }

    }
}

.payment{
    .offerRow{
        width: 100%;
        background: white;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 50px;
        box-sizing: border-box;
        font-size: 14px;
        color: #191919;
        padding-top: 15px;
        text-align: center;
    }
    .paymentRow{
        width: 100%;
        background: white;
        border-bottom: 1px solid #dadada;
        height: 90px;
        box-sizing: border-box;
        padding-top: 30px;
        font-size: 20px;
        padding-left: 10px;
        color: #616161;
        cursor: pointer;
    }

    .paymentIcon{
        float: left;
        font-size: 25px;
        margin-right: 15px;
        margin-left: 10px;
        margin-top: -1px;
    }
}

.booking{
    .requestLine{
        width: 94%;
        margin: 3%;
        background-color: #ff7d2d;
        padding: 6px;
        border-radius: 7px;
        box-sizing: border-box;
        color: white;
    }

    .patientName{
        border-top: 1px solid #d2d2d2;
        height: 60px;
        width: 100%;
        border-bottom: 1px solid #d2d2d2;
        text-align: center;

        p{
            width: 100%;
            margin: 0px;
            margin-bottom: 4px;
            float: left;
            margin-top: 1px;
            font-size: 20px;
        }
    }

    .details{
        width: 100%;
        border-bottom: 1px solid #d2d2d2;
        float: left;
        padding: 15px;
        box-sizing: border-box;
        padding-top: 30px;
        
        div{
            width: 100%;
            float: left;
            margin-bottom: 15px;
            
            .lbl{
                float: left;
                width: 40%;
                color: #757575;
            }
            .cntnt{
                float: left;
                width: 50%;
            }
        }
    }

    .request{
        width: 70%;
        margin-left: 15%;
        height: 40px;
        border: none;
        margin-top: 20px;
        border-radius: 10px;
        color: white;
        background-color: #00b7b0;
        font-weight: bold; 
    }

    .callIcon{
        text-align: center;
        display: block;
        margin-top: 50px;
        color: #ffffff;
        border: 1px solid;
        padding: 10px;
        border-radius: 100%;
        background-color: #00b7b0;
        margin-left: auto;
        margin-right: auto;
    }

}

